@import 'vars';
@import 'fonts';

* {
  outline: none;
}

html, body, #app {
  height: 100%;
  color: @heading-color;
  background-color: @bg-color;
  font-family: 'Circular-Pro-Book', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 70px;
  font-weight: normal;
}

h2 {
  font-size: 40px;
  font-weight: normal;
}

h4, p {
  font-size: 22px;
  font-weight: normal;
  color: @text-color;
}

ul {
  list-style: none;
}

.d-table {
  width: 100%;
}

label {
  font-weight: normal;
  margin-bottom: 10px;
  display: block;
}

header {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
}

.game-center {
  header {
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  }
}

.hero {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;

  .hero-banner {
    width: 100%;
    height: 100px;
    background-color: @secondary-color;
  }
}

footer {
  margin-top: auto;
}

table {
  background: white;
  position: absolute;
}

.b-color-primary {
  color: @color-primary;
  background-image: @b-image-primary;
  background-position: top center;
  background-attachment: fixed;
}

.large {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-basic {
  margin-top: 1rem;
  display: inline-flex;
  border-radius: 4px;
  line-height: 32px;
  color: #2980F2;
  background-image: linear-gradient(180deg,#F1CF90,#F3C742 54%,#F3BA49);
  font-size:1.8rem;
  padding: 1rem 3rem;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
  text-decoration: none;
  &:active, &:hover, &.hover {
    background-image: linear-gradient(180deg,#F1CF90,#F1CF90 54%,#F1CF90);
  }
}
